<footer>
    <div class="d-md-flex justify-content-md-between align-items-end py-4 px-5">
        <div class="w-25">
            <a href="{{ path('terminos') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_terminos_condiciones') }}</a>

        </div>

        <div class="w-25 text-right">
            <a class="iridian w-25 d-inline-block" href="http://iridian.co/" target="_blank">
                <img src="{{ asset('images/iridian.png') }}">
            </a>
        </div>
    </div>
</footer>