<div class="infoUser">
    <div class="nombre">
        <h5>Visitadora Médica</h5>
        {% if app.user %}
            <h2>{{ app.user.nombre }} {{ app.user.apellido }}</h2>
        {% endif %}
    </div>
    <div class="func">
        <div class="notificaciones">
            {#<svg id="campana" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px"
                 height="34.72px" viewBox="0 0 30.02 34.72" style="enable-background:new 0 0 30.02 34.72;" xml:space="preserve">
<style type="text/css">
    .st0{fill:none;stroke:#7C0A1D;stroke-miterlimit:10;}
</style>
                <defs>
                </defs>
                <path class="st0" d="M28.87,24.4l-2.5-2.5c-0.84-0.84-1.31-1.97-1.31-3.16v-5.62c0-4.82-3.28-9.08-7.84-10.13
	c0.01-0.09,0.03-0.17,0.03-0.26c0-1.23-1-2.23-2.23-2.23c-1.23,0-2.23,1-2.23,2.23c0,0.09,0.02,0.17,0.03,0.25
	c-4.48,1.01-7.84,5-7.84,9.79v5.96c0,1.18-0.47,2.32-1.31,3.16l-2.5,2.5c-0.42,0.42-0.65,0.99-0.65,1.58v2.42h29.02v-2.42
	C29.52,25.39,29.29,24.82,28.87,24.4L28.87,24.4z M28.87,24.4"/>
                <path class="st0" d="M10.55,29.75c0,2.47,2,4.47,4.46,4.47c2.47,0,4.47-2,4.47-4.47v-1.12h-8.93V29.75z M10.55,29.75"/>
</svg>#}
            {#<span>1</span>#}
        </div>
        <button id="cerrarSesion"><a style="text-decoration: none; color: white" href="{{ path('fos_user_security_logout') }}">CERRAR SESIÓN</a></button>
    </div>
</div>
