{% extends 'base.html.twig' %}

{% block body %}
    {% if query %}
        {% set query1 = query %}
    {% endif %}
    {{ include('global/header-user.html.twig') }}

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <div class="container-fluid px-0 bg-blue min-vh-100  pb-footer bg-videos">
        <div class="cont_resultado">
            {% for i in videos %}
            <div class="resultado">
                <img src="{{ product_images~i.imagen }}" alt="{{ i.titulo }}">
                <div class="right">
                    <h1>{{ i.titulo }}</h1>
                    <a class="button call-popUp" data-wallpaper="{{ product_images~i.imagen }}" data-video="{{ i.idVimeo }}" data-domain="{{ qi.setting('bucket_s3') }}" data-aws="{{ i.awsUrl }}">
                    Ver más</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

