{% extends 'base.html.twig' %}

{% block body %}

    <div class="banner s-g swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {% for item in qi.galeria('banner-shop') %}
                <div class="swiper-slide">
                    {% if (item.image is empty) %}
                        {% if (item.link is empty) %}
                        {% else %}
                            <iframe src="{{ item.link }}" width="1024" height="576" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        {% endif %}

                    {% else %}
                        <img class="d-block w-100" src="{{ product_images~item.image }}" alt="First slide">
                    {% endif %}

                </div>
            {% endfor %}


        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
    <div class="p-4 bg-green">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>{{ qi.texto('breadcrumbs_the_wharton') }}</span></a></li>
            <li><a href="{{ path('productos') }}"><i class="fas fa-chevron-right"></i><span>{{ qi.texto('menu_shop') }}</span></a></li>
        </ul>
    </div>

    <div class="container py-2 py-md-5">
        <div class="title-d">
            <div class="px-2">
                <h2>{{ qi.texto('title_our_journeys') }}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2">
                <form class="filter-product d-flex d-md-block justify-content-between">

                    <div class="form-group">
                        <h3 class="p-2">{{ qi.texto('title_filter_category') }}</h3>
                        {% for c in categorias %}
                            <label class="p-2 px-lg-4 filtro_a" data-class="f_c_{{ c.id }}"><input type="checkbox">{{ c.nombre }}</label>
                        {% endfor %}

                    </div>
                </form>
            </div>
            <div class="col-12 col-md-9 col-lg-10 lista">
                {% for i in productos %}
                <div class="item item-shop p-3 f_c_{{ i.subcategoria.id }}">
                    <div class="h-item">
                        <a href="{{ path('producto',{'id': i.id}) }}"><i class="icon-car-add"></i></a>
                        <a href="{{ path('producto',{'id': i.id}) }}"><i class="fas fa-search"></i></a>
                        <a href="{{ path('favorito',{'id': i.id,'tipo':'producto'}) }}"><i class="icon-heart"></i></a>
                    </div>
                    <div class="w-p">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="w-50" src="{{ product_images~i.image.image}}"/>
                                </div>
                                {% for img in i.imagenes %}
                                <div class="swiper-slide">
                                    <img class="w-50" src="{{ product_images~img.image}}"/>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                        <div class="colors py-3 text-center">
                            <form>
                                {% for c in i.productos %}
                                    {% for v in c.variantes %}
                                        {% if v.tipo.nombre == 'Color' %}
                                            <a href="{{ path('producto',{'id':c.id}) }}"><label class="check ">
                                                <input type="radio" name="p_{{ i.id }}" />
                                                <span class="checkmark icon- " style="background-color: {{ qi.setting('color_'~v.valor) }}"></span>
                                            </label>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                            </form>
                        </div>

                        <h3>{{ i.nombre }}</h3>
                        <h4>

                            {% if i.descuento|length>0 %}
                                <span>${{ i.precio|number_format(2, '.', ',') }}</span> /
                            {% else %}
                                ${{ i.precio|number_format(2, '.', ',') }}
                            {% endif %}
                        </h4>
                        <p>{{ i.resumen }} </p>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
<script>


    $(".filtro_a").click(function (){

        console.log($(this).find("input").prop("checked"));
        var checkeds = $('.filtro_a input:checked').length;
        if(checkeds == 0 ){
            $(".lista .item").hide();
        }
        var show = 0;
        if ($(this).find("input").prop("checked")) {
            $(this).find("input").prop("checked", false);
        } else {
            $(this).find("input").prop("checked", true);
            show = 1;
        }
        console.log('lo checkeds',checkeds,show);

            if(show){
                $("."+$(this).data('class') ).show()
            }else{
                $("."+$(this).data('class') ).hide()
            }

        checkeds = $('.filtro_a input:checked').length;
        if(checkeds == 0 ){
            $(".lista .item").show();
        }

    });

</script>
{% endblock %}

