@import "mixins.scss";
@import "vars.scss";
@import "icon.scss";
@import "fonts.scss";
@import "keyframes.scss";

body{
  font-family: 'Myriad Pro';
  position: relative;
  background-color: $blue;
  scroll-behavior: smooth;
}

.plan{
  width: 100%;
  float: left;
}

.banner-full{
  width: 100%;
  height: 49.8vw;
  background-image: url("/images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .s-wp{
    width: 30%;
    h3{
      color: white;
      font: 1.8vw 'Didot';
    }
  }
}
.banner{
  width: 100%;
  background-image: url("/images/background.jpg");
  .s-wp{
    width: 30%;
    h3{
      color: white;
      font: 1.8vw 'Didot';
    }
  }
}

.opciones-log{
  .wp{
    width: 50%;
    .bt-1{
      margin: 1rem 0;
    }
  }
}

.alertaJp{
  @include toAnim(0.3s);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  &.overlay{
    background-color: rgba(black, 0.8);
  }
  &.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    .w-alerta{
      padding: 2vw;
      background-color: $blue;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      opacity: 0;
      .close{
        text-shadow: 0 0 0 #fff;
        float: none;
      }
    }
  }
  &.view{
    opacity: 1;
    .w-alerta{
      -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 0.5s;
    }
  }
}

a, p, img{
  @include toAnim(0.3s);
}
p{
  font-weight: 100;
  color: white;
}
h2{
  color: white;
  font:  3.8vw 'DoublePorter5';
}
.border-brown{
  border: 2px solid $brown;
}
.border-brown-2{
  border: 2px solid $brown-2;
}
.border-brown-3{
  border: 2px solid $brown-3;
}

.bg-2, .bg-3{
  background-position: top;
  background-repeat: no-repeat;
}
.bg-2{
  background-image: url("/images/background-2.jpg");
  background-size: cover;
}
.bg-3{
  background-size: 100% auto;
  background-image: url("/images/background-3.jpg");
}

.bg-blue{
  background-color: $blue;
}

.bt-1{
  min-width: 13vw;
  font-size: 1.9vw;
  font-family: 'DoublePorter5';
  line-height: 100%;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 0.5vw 2.5vw;
  background: rgb(101,78,37);
  background: -moz-linear-gradient(90deg, rgba(101,78,37,1) 0%, rgba(229,180,100,1) 55%, rgba(153,128,95,1) 79%, rgba(126,87,52,1) 96%);
  background: -webkit-linear-gradient(90deg, rgba(101,78,37,1) 0%, rgba(229,180,100,1) 55%, rgba(153,128,95,1) 79%, rgba(126,87,52,1) 96%);
  background: linear-gradient(90deg, rgba(101,78,37,1) 0%, rgba(229,180,100,1) 55%, rgba(153,128,95,1) 79%, rgba(126,87,52,1) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#654e25",endColorstr="#7e5734",GradientType=1);
  @include toAnim(0.3s);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  .user{
    .col{
      &:nth-of-type(2){
        position: relative;
      }
    }
    .logo{
      width: 5%;
      margin-right: 3%;
    }
    form{
      width: 47%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $brown-3;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 0.5vw;
      input[type="image"]{
        height: 1.3vw;
      }
      input[type="search"]{
        width: 90%;
        background-color: transparent;
        font-size: 1vw;
        border: 0;
        color: white;
      }
    }
    .user-id{
      position: relative;
      display: inline-block;
      a{
        cursor: pointer;
        img, i{
          display: inline-block;
          vertical-align: middle;
        }
        i{
          color: white;
          font-size: 1.5vw;
          margin-left: 0.5vw;
        }
      }
    }
    .op{
      //width: 180%;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $dark;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: none;
      h4{
        color: white;
        font: 1vw 'DoublePorter5';
      }
      a{
        border: 1px solid white;
        color: white;
        display: block;
        margin-bottom: 5px;
        white-space: nowrap;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        cursor: pointer;
        @include toAnim(0.3s);
        &:hover{
          background-color: white;
          color: $dark;
        }
      }
    }
    .lyrics-u{
      width: 3vw;
      height: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $brown-3;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      h2{
        font: 2vw 'DoublePorter5';
        color: white;
        margin: 0;
        line-height: 100%;
      }
    }
    .lyrics-u + i{
      color: white;
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}

.wp{
  width: 60%;
  margin: 0 auto;
}

.cont-item-channel{
  .b-d{
    height: 90%;
    top: 5%;
    position: absolute;
    display: none;
    &:nth-of-type(1){
      left: 1%;
    }
    &:nth-of-type(2){
      right: 1%;
    }
  }
}

.item-channel{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 2%;
}

form{
  .logo{
    width: 4vw;
    max-height: 300px;
    width: auto !important;
  }
  .titulo{
    width: 15vw;
  }
  label, input[type="text"], input[type="password"], input[type="email"], select{
    width: 100%;
    font-size: 1.2vw;
    font-weight: 100;
    color: white;
    &.small{
      font-size: 0.9vw;
    }
  }
  input[type="text"], input[type="password"], input[type="email"],select{
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  select{
    option{
      color: black;
    }
  }
  a{
    color: white;
    font-size: 1vw;
    text-decoration: underline;
    &:hover{
      color: $brown-3;
    }
  }
  .link-terminos{
    font-size: 0.9vw;
  }
  input[type="submit"]{
    border: 0;
  }
  .bt-1{
    padding: 0;
  }
  .form-check{
    input[type="checkbox"], label{
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      position: relative;
    }
    label{
      width: auto;
    }
  }
  p.techo{
    font-size: 1.2vw;
    text-align: center;
  }
}

.pt-header{
  padding-top: 10vw;
}

.pb-footer{
  padding-bottom: 15vw;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  .logo{
    img{
      width: 9vw;
      display: inline-block;
    }
  }
  p{
    white-space: nowrap;
    margin: 0;
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: $brown-3;
      }
    }
  }
  .iridian{
    img{
      height: 4vw;
    }
  }
}

.s-g{
  position: relative;
  .container-s-g{
    width: 90%;
    overflow: hidden;
  }
  .swiper-button-next, .swiper-button-prev{
    position: relative;
    display: inline-block;
    top: inherit;
    left: inherit;
    bottom: inherit;
    right: inherit;
    --swiper-navigation-color: #ffffff;
    &.swiper-button-disabled{
      opacity: 0;
    }
  }

  .item{
    width: 100%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    span{
      font-size: 1vw;
      color: white;
    }
    .new{
      position: absolute;
      color: white;
      background-color: $red;
      padding: 0.5vw 1vw;
      font: 1.2vw 'DoublePorter5';
      bottom: 1vw;
      right: 1vw;
      display: none;
    }
  }
}

section{
  &:nth-of-type(1) {
    .s-g {
      .swiper-slide[data-swiper-slide-index="0"]{
        .new{
          display: block;
        }
      }
    }
  }
}

.categorias{
  h2{
    margin: 0 !important;
    padding-left: 20px !important;
    font-size: 1.5vw!important;
  }
}
.title{

  img{
    width: 8%;
  }
}


.call-popUp{
  cursor: pointer;
}

.popUp{
  position: fixed;
  z-index: 1000;
  @include toAnim(0.3s);
  &.overlay{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(black, 1);
    opacity: 0;
    &.view{
      opacity: 1;
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
      animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
  }
  &.container-p{
    width: 100%;
    height: 100%;
    left: 0%;
    opacity: 0;
    position: absolute;
    @include toAnim(0.5s);
    transition-delay: 0.2s;
    iframe, video{
      position: absolute;
      width: 100%;
      height: 90%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .wallpaper{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-size: contain;
      background-position: center;
      @include toAnim(1s);
      &.hidden{
        opacity: 0;
        visibility: hidden;
      }
    }
    &.view{
      width: 100vw !important;
      height: 100vh !important;
      left: 0 !important;
      opacity: 1 !important;
    }
  }
  .close-popUp{
    position: absolute;
    top: 2vw;
    left: 2vw;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    @include toAnim(0.3s);
    z-index: 100;
    &:hover{
      color: $brown-2;
    }
  }
}

.head-clientes{
  .top{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .contNav{
      display: flex;
      flex-grow: 1;
    }
  }
  .buscador{
    width: max-content !important;
    margin: 5px 2% 5px 2%;
    input{
      background-color: transparent;
      border: 0;
      font-size: 1rem;
      color: white;
    }
    button{
      color: white;
      background-color: transparent;
      border: 0;
    }
  }
}
.payu{
  min-width: 200px;
  max-width: 300px;
  height: 26px;
  background-color: #C0CE2E;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 5px;
  img{
    height: 17px;
  }
}

.bg-videos{
  background-image: url("/images/background-videos.jpg");
  background-position: bottom left;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.terminos-condiciones{
  width: 50%;
  margin: 0 auto;
}
.contFaq{
  margin-bottom: 30px;
  &.abierto{
    .pregunta{
      &::after{
        content: '-';
      }
    }
    .respuesta{
      display: flex;
    }
  }
  .pregunta{
    padding: 20px 40px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after{
      content: '+';
      display: block;
      color: white;
      font-size: 2vw;
    }
  }
  .respuesta{
    p{
      text-align: left;
      margin: 0;
    }
    padding: 20px 40px;
    background-color: rgba(#555555, .6);
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  h3{
    color: white;
    margin: 0;
    text-align: left;
  }
}
nav{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  a{
    color: white;
    line-break: strict;
    margin: 0 20px;
    font-stretch: condensed;
    display: block;
    &:hover{
      text-decoration: none;
      color: $brown-2;
    }
  }
}
.preview_web{
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  .wallpaper{
    pointer-events: none;
    opacity: 1;
    transition: 400ms opacity;
    position: relative;
    z-index: 9;
  }
  .hidden{
    opacity: 0;
  }
  iframe, video{
    width: 100%;
    height: 100%;
    position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    z-index: 6;
    flex-grow: 1;
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .textos{
    position: absolute;
    z-index: 9;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.592874649859944) 78%, rgba(0,0,0,0) 100%);
    padding: 0 10vw 0 5vw;
    img{
      width: 45%;
    }
  }
}
.bt-2{
  min-width: 13vw;
  font-size: 1.9vw;
  font-family: 'DoublePorter5';
  line-height: 100%;
  color: white !important;
  border: 3px solid white;
  display: inline-block;
  width: max-content;
  text-align: center;
  padding: 0.5vw 2.5vw;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
.preview_mob{
  display: none;
}
.shows{
  display: none;
}
.msj-susc{

  padding: 5% 15%;
}
.paySection{
  text-align: center;
  padding: 0% 10%;
  .container-opciones{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .container-opcion{
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: space-between;
      padding: 20px;
      border: 2px solid $brown-3;
      .valorCont{
        margin: 10px 0 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        border: 1px solid $brown-3;
        border-radius: 8px;
        p{
          margin: 15px 0 !important;
        }
        h3{
          color: white;
          font-size: 1.3rem;
        }
      }
      .tit{
        height: 100px;
      }
      p{
        margin: 10px 0;
        &:nth-of-type(2){
          margin-bottom: 30px;
        }
      }
      .opcionesTarjeta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .line{
          width: 2px;
          height: 150px;
          background-color: $brown-3;
        }
        .opcion{
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 40%;
          .pais{
            width: 20px;
            margin: 10px 0 20px;
          }
           h4{
             color: white;
             font-size: 1.4rem;
           }
          h5{
            color: white;
            font-size: 1rem;
          }
          h6{
            margin: 10px 0 20px;
            color: white;
            position: relative;
            width: max-content;
            img{
              position: absolute;
              left: 100%;
              bottom: 100%;
              transform: translate(0%,50%);
              width: 25px;
            }
          }
          .pagar{
            width: 70%;
          }
        }
      }
    }

  }
}
#suscribirse{
  padding: 3vw 0 5vw;
}
.cont_resultado{
  padding: 200px 5vw 0;
  display: flex;
  flex-wrap: wrap;
  .resultado{
    flex-grow: 1;
    min-width: 250px;
    max-width: 250px;
    margin: 15px 20px;
    img{
      width: 100%;
      max-width: 250px;

    }
    .right{
      max-width: 250px;
      h1{
        color: white !important;
        font-size: 1.4vw !important;
        margin: 10px 0;
        font-weight: bold;
      }
      a{
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid $brown-2;
        color: $brown-2;
      }
    }
  }
}

@import "breakpoints.scss";
