@import "mixins.scss";

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .paySection{
    .container-opciones{
      flex-wrap: wrap;
      .container-opcion{
        width: 100%;
        margin-bottom: 20px;
        .valorCont{
          flex-direction: column;
          padding: 20px 5px;
        }
        .opcionesTarjeta{
          flex-direction: column;
          .line{
            width: 100%;
            height: 1px;
            margin: 10px 0;

          }
          .opcion{
            width: 100%;
            max-width: 100%
          }
        }
      }
    }

  }
  .head-clientes{
    .top{
      width: 100%;
      flex-direction: column-reverse ;
      .contNav{
        width: 100%;
        .shows{
          padding: 10px 0;
        }
      }
    }
  }
  header{
    position: relative;
    top: inherit;
    left: inherit;
    display: block;
    .user{
      .colu{
        &:nth-of-type(1){
          width: 80%;
        }
        &:nth-of-type(2){
          width: 20%;
        }
      }
      .logo{
        width: 2rem;
      }
      form{
        width: 60%;
        height: 2rem;
        input[type="image"]{
          height: 1.3rem;
        }
        input[type="search"]{
          font-size: 1rem;
        }
      }
      .lyrics-u{
        width: 3rem;
        height: 3rem;
        h2{
          font-size: 2rem;
        }
      }
    }
  }

  h2{
    font-size: 3rem;
  }

  .banner-full{
    height: 400px;
    .s-wp{
      width: 50%;
      h3{

        font-size: 1.4rem;
      }
    }
  }
  .banner{
    .s-wp{
      width: 80% !important;
      margin: 2rem auto;
    }
  }
  .bt-1, bt-2{
    font-size: 1.5rem;
    width: max-content;
  }
  .bg-3{
    background-size: 350% auto;
  }
  .wp{
    width: 80%;
  }
  .item-channel{
    width: 40%;
  }

  .opciones-log{
    .wp{
      width: 80%;
    }
  }

  form{
    .titulo{
      width: 60%;
    }
    .logo{
      width: 40%;
    }
    label, input[type="text"], input[type="password"], input[type="email"], select{
      font-size: 1rem;
      padding: 0.5rem;
    }
    .link-terminos{
      font-size: 1rem;
    }
    .bt-1{
      padding: 0.5rem 0.8rem;
    }
    a{
      font-size: 1rem;
    }
    .form-group{
      width: 100% !important;
    }
  }

  /*.pt-header{
    padding-top: inherit;
  }*/

  .pb-footer{
    padding-bottom: inherit;
  }

  .title {
    img{
      width: 25%;
    }
  }

  .s-g{
    .swiper-button-prev{
      display: none;
    }
  }

  .popUp{
    .close-popUp{
      left: 50%;
      top: 2rem;
      transform: translateX(-50%);
      font-size: 2rem;
    }
    &.container-p{
      iframe{
        height: auto;
        width: 90%;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
      }
      .wallpaper{
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .payu{
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    margin-bottom: 2rem;
    height: auto;
    padding: 0.4rem 0;
  }

  footer{
    position: relative;
    display: block;
    bottom: inherit;
    left: inherit;
    .w-25, .w-50{
      width: 100% !important;
      text-align: center !important;
      .iridian{
        width: 10% !important;
      }
      .logo{
        img{
          width: 50%;
        }
      }
    }
  }

  .terminos-condiciones{
    width: 90%;
  }
  .preview{
    height: auto;
    min-height: initial;
    .textos{
      p{
        display: none;
      }
    }
  }
  .preview_mob{
    display: block;
    position: relative;
    img{
      width: 100%;
    }
    a{
      position: absolute;
      bottom: 5px;
      left: 50%;
      font-size: 5vw !important;
      transform: translateX(-50%);
    }


  }
  .preview_web{
    display: none;
  }
  .s-g{
    .item{
      span{
        font-size: 4vw;
        color: white;
        display: block;
        text-align: center;

    }
      .new{
        bottom: initial;
        top: 0;
        font-size: 4vw;
      }
    }
  }
  header{
    .logo{
      .w-50{
        width: 100% !important;
      }
    }
    nav{
      display: none;
    }
    .shows{
      display: block;
      flex-grow: 1;
      color: white;
      text-align: center;
      font-size: 4vw;
    }
    .contNav{
      position: relative;
      flex-grow: 1;
      &:hover{
        nav{
          position: absolute;
          display: block;
          top: 100%;
          z-index: 10;
          left: 0;
          a{
            display: block;
            margin: 0;
            width: 100%;
            font-size: 3vw;
            padding: 20px 0;
            text-align: center;
            background-color: $blue;
            border-top: 1px solid white;
          }
        }
      }
    }
  }
  .cont_resultado{
    .resultado{
      max-width: 290px;
      img{
        max-width: 290px;
      }
      .right{
        max-width: 290px;
        h1{
          font-size: 5vw !important;
        }
      }

    }
  }
}


/* Only Small devices (phones, 576px) */
@media (max-width: 576px) {
}