@font-face {
  font-family: 'Hijrnotes PERSONAL USE ONLY';
  src: url('../fonts/HijrnotesPERSONALUSEONLY.woff2') format('woff2'),
  url('../fonts/HijrnotesPERSONALUSEONLY.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DoublePorter6';
  src: url('../fonts/DoublePorter6.woff2') format('woff2'),
  url('../fonts/DoublePorter6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DoublePorter5';
  src: url('../fonts/DoublePorter5.woff2') format('woff2'),
  url('../fonts/DoublePorter5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'The Farmer Textured';
  src: url('../fonts/TheFarmerTexturedRounded.woff2') format('woff2'),
  url('../fonts/TheFarmerTexturedRounded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Naratif Condensed';
  src: url('../fonts/NaratifCondensed-BoldItalic.woff2') format('woff2'),
  url('../fonts/NaratifCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'The Farmer Textured';
  src: url('../fonts/TheFarmerTexturedRegular.woff2') format('woff2'),
  url('../fonts/TheFarmerTexturedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
  url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Naratif Condensed';
  src: url('../fonts/NaratifCondensed-Thin.woff2') format('woff2'),
  url('../fonts/NaratifCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'The Farmer Textured';
  src: url('../fonts/TheFarmerTexturedVintage.woff2') format('woff2'),
  url('../fonts/TheFarmerTexturedVintage.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Didot';
  src: url('../fonts/Didot.woff2') format('woff2'),
  url('../fonts/Didot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}