{% extends "base.html.twig" %}

{% block body %}

    {{ include('global/header-user.html.twig') }}
    <section class="banner min-vh-100 text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="border-brown-3 p-4 d-flex justify-content-center align-items-center terminos-condiciones">
            <div>
                <h2><i class="far fa-envelope"></i></h2>
                <p>
                    Un correo electronico ha sido enviado. Contiene un enlace en el que debe hacer clic para restablecer su contraseña.
                    Nota: Solo puede solicitar una nueva contraseña una vez dentro de 2 horas.

                </p>
                <p>
                    Si no recibe un correo electrónico, revise su carpeta de correo no deseado o intente nuevamente.
                </p>
            </div>
        </div>
    </section>

{% endblock %}
