{% trans_default_domain 'FOSUserBundle' %}

{#<div class="container">

    <div class="col-lg-8 offset-lg-2">
        <div class="col-lg-8 offset-lg-2">
            <form class="fos_user_registration_register" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group w-100">
                    <label>Correo</label>
                    <input class="w-100" type="text" id="username" name="username" required="required" placeholder="Ingresa tu correo" />
                </div>
                <div class="form-group w-100">
                    <input type="submit" class="btn" value="Recuperar contraseña" />
                </div>
            </form>
        </div>
    </div>
</div>#}


<section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
    <div class="s-wp">
        <form class="fos_user_resetting_request w-100 border-brown-3 py-4 px-5 text-center" action="{{ path('reset-iridian') }}" method="POST">
            <div class="form-group text-center">
                <img class="logo" src="{{ asset('images/logo-h.png') }}"/>
                <br>
                <img class="titulo" src="{{ asset('images/iniciar-sesion.png') }}"/>
            </div>
            <div class="form-group">
                <p class="m-0">{{ qi.texto('ingresa_correo') }}</p>
            </div>
            <div class="form-group my-5">
                <input type="email" name="username" placeholder="{{ qi.texto('email') }}"/>
            </div>
            <div class="form-group">
                <input type="submit" class="bt-1" value="{{ qi.texto('recuperar') }}"/>
            </div>
        </form>
    </div>
</section>

