{% trans_default_domain 'FOSUserBundle' %}

<section class="banner min-vh-100 text-center d-flex justify-content-md-center pb-footer pt-header">
    <div class="border-brown-3 p-4 d-flex justify-content-center align-items-center terminos-condiciones">
        <div>
            <h2><i class="fas fa-key"></i></h2>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="bt-1" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>

