{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('images/logo.ico') }}">
{#    {% set ruta = app.request.get('_route') %}#}
{#    {% set params = app.request.attributes.get('_route_params')  %}#}
{#    {% set seo = qi.seo(app.request.getUri(),url('homepage')) %}#}
{#    <title>{{ seo.titulo }}</title>#}
{#    <meta name="description" content="{{ seo.descripcion }}" />#}
{#    <link rel="image_src" href="{{ seo.imagen }}"/>#}

{#    <meta property="og:title" content="{{ seo.titulo }}" />#}
{#    <meta property="og:type" content="article" />#}
{#    <meta property="og:url" content="{{ url(ruta,params) }}" />#}
{#    <meta property="og:image" content="{{ seo.imagen }}" />#}
{#    <meta property="og:description" content="{{ seo.descripcion }}" />#}

    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('/plugins/hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/plugins/selectric/selectric.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    <style>
        html, body{
            height: initial !important;
            overflow: auto;
        }
    </style>
</head>
<body >
{#    {{ include('global/header.html.twig') }}#}

    <main>
        <div class="formularios">
{#            {{ include('global/user-info.html.twig') }}#}
            {% block body %}{% endblock %}
        </div>
    </main>


    {{ include('global/footer.html.twig') }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('/plugins/selectric/jquery.selectric.min.js') }}"></script>
    {#    <script src="{{ asset('/plugins/swiper/swiper.min.js') }}"></script>#}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('page1') }}
    <script>
        $(function () {
            //$('select').selectric();
        })
    </script>
    {% block javascripts %}

    {% endblock %}



</body>
</html>
