
<!doctype html>
<html>
<head>
    <title>Firma</title>
    <style type="text/css">
        html, body {

            background: #f2f2f2;
            overflow: hidden;
            margin: 0;
        }
        html, body {
            background: #ffffff;
        }
        a#descargar {
            position: absolute;
            top: 0;
            left: 0;
            background: #69c;
            color: #fff;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
<div id="container"></div>
<A id="descargar" href="#">GUARDAR</A>
{{ form(form, {attr:{'id':'form'}}) }}

<script src="{{ asset('js/sketch.js') }}"></script>
<script>

    var COLOURS = [ '#000000', '#000000', '#000000', '#000000', '#000000' ];
    var radius = 0;

    Sketch.create({

        container: document.getElementById( 'container' ),
        autoclear: false,
        retina: 'auto',

        setup: function() {
            console.log( 'setup' );
        },

        update: function() {
            radius = 2 + abs( sin( this.millis * 0.003 ) * 50 );
        },

        // Event handlers

        keydown: function() {
            if ( this.keys.C ) this.clear();
        },

        // Mouse & touch events are merged, so handling touch events by default
        // and powering sketches using the touches array is recommended for easy
        // scalability. If you only need to handle the mouse / desktop browsers,
        // use the 0th touch element and you get wider device support for free.
        touchmove: function() {

            for ( var i = this.touches.length - 1, touch; i >= 0; i-- ) {

                touch = this.touches[i];

                this.lineCap = 'round';
                this.lineJoin = 'round';
                this.fillStyle = this.strokeStyle = COLOURS[ i % COLOURS.length ];
                this.lineWidth = radius*0.3;

                this.beginPath();
                this.moveTo( touch.ox, touch.oy );
                this.lineTo( touch.x, touch.y );
                this.stroke();
            }
        }
    });

    var link = document.getElementById('descargar');
    link.addEventListener('click', function(ev) {
        var canvas = document.getElementsByClassName("sketch")[0];
        //link.href = canvas.toDataURL();
        //link.download = "firma.png";
        document.getElementById("firma_firma").value = canvas.toDataURL();
        document.getElementById("form").submit();
    }, false);
    document.body.appendChild(link);

</script>

</body>
</html>
