{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="s-wp">
            <form class="w-100 border-brown-3 py-3 px-3 py-md-4 px-md-5 text-center fos_user_registration_register" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token('authenticate') %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% endif %}
                <div class="form-group text-center">
                    <a href="{{ path('homepage') }}"><img class="logo w-50" src="{{ asset('images/logo-h.png') }}"/></a>
                    <br>
                    <img class="titulo" src="{{ asset('images/iniciar-sesion.png') }}"/>
                </div>
                <div class="form-group">
                    <input  id="username" name="_username" required="required" autocomplete="off" placeholder="{{ qi.texto('correo_electronico') }}"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ qi.texto('contrasena') }}"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="bt-1" value="Ingresar"/>
                </div>
                <div class="form-group">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ qi.texto('olvide_contrasena') }}</a>
                </div>
                <a class="form-group">
                    <p class="m-0">{{ qi.texto('no_tienes_cuante') }}</p>
                    <br>
                    <a class="bt-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
